@font-face {
  font-family: "Irish";
  src: url("./fonts/Irish.ttf") format("truetype");
}

.App {
  text-align: center;
  /* background-image: url("./media/background3.png"); */

  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: center;
  /* font-family: "bauhaus 93"; */

  /* padding-bottom: 10%; */
}

.UserProfile {
  background-color: white;
  height: 100vh;
  width: 100vw;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
.banner {
  background-color: black;
  color: cyan;
  height: 100px;
  margin-top: 0px;
  font-size: 15px;
  font-weight: lighter;
  border-bottom: solid black;
}
.banner-upload {
  margin-left: 2%;
}
.banner-upload:hover {
  color: rgb(1, 213, 213);
  cursor: pointer;
}
.banner-image {
  height: 125px;
  border-radius: 10px;
  margin-top: -70px;
  border-color: rgb(32, 149, 153);
  border: solid rgb(32, 149, 153) 2px;
}
.banner-name {
  height: 50px;
  margin-top: -10px;
  font-family: "Courier New", Courier, monospace;
  border-bottom: 3px solid black;
}

.App-header {
  border-width: 2px;
  border-radius: 0px;
  display: flex;
  padding-left: 10px;
  justify-content: right;

  background-color: blueviolet;
  font-size: 40px;
  font-family: "Irish";
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px cyan, -2px -2px cyan;

  background-image: linear-gradient(
    rgb(32, 149, 153),
    rgb(137, 220, 226),
    rgb(172, 221, 255),
    rgb(137, 174, 226),
    rgb(94, 137, 153),
    rgb(32, 149, 153)
  );
}
.Header-component {
  background-color: black;

  border-width: 2px;
  border-radius: 0px;
  background-image: linear-gradient(
    rgb(32, 149, 153),
    rgb(137, 220, 226),
    rgb(172, 221, 255),
    rgb(137, 174, 226),
    rgb(94, 137, 153),
    rgb(32, 149, 153)
  );
  font-size: 25px;

  color: rgb(124, 0, 240);
  height: 40px;
  margin-top: -5px;
}
.HeaderImg {
  display: flex;
  margin-top: 5px;
  float: right;
  margin-right: 5px;
  justify-content: left;
  height: 88%;
}

.login {
  background-color: black;
  margin: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-width: 150px;
  font-size: 12px;
  border-radius: 10px;
  margin-top: 100px;
  border-style: outset;
  border-color: rgb(0, 177, 177);
  border-width: 10px;

  background-image: linear-gradient(
    rgb(32, 149, 153),
    rgb(137, 220, 226),
    rgb(172, 221, 255),
    rgb(137, 174, 226),
    rgb(94, 137, 153),
    rgb(32, 149, 153)
  );
}
.inputLogin {
  border-radius: 10px;
  margin-bottom: 5px;
}
.inputLoginSubmit {
  border-radius: 10px;
  width: 100%;
}
.inputLoginSubmit:hover {
  cursor: pointer;
}
.greeting {
  background-color: rgba(0, 0, 0, 0);

  margin: auto;
  margin-bottom: -10px;
  margin-top: -30px;
  padding-top: 0px;
  width: 150px;
  height: 100px;
  line-height: 100px;
  font-size: 40px;
  font-family: "Irish";
  color: black;

  text-shadow: 2px 2px cyan, -2px -2px cyan;
}

.createAccountBar {
  color: cyan;
  background-color: black;
  height: 150px;
  width: 200px;
  margin: auto;
  margin-top: 50px;
  font-family: "Courier New", Courier, monospace;
  border-style: outset;
  border-color: rgb(0, 179, 179);
  border-width: 10px;
  border-radius: 10px;
}
.createAccountContent {
  text-align: left;
  margin: auto;
  padding-top: 5%;
  padding: auto;
  text-align: center;
  border-style: solid;
  border-color: cyan;
  border-radius: 10px;
  height: 55%;
}
.createAccountInputs {
  margin: auto;
  border-radius: 10px;
  margin-bottom: 5px;
}
.createAccountButton {
  margin-top: 10px;
  border-radius: 10px;
  width: 100%;
}
.createAccountButton:hover {
  cursor: pointer;
}

.menu-trigger img {
  position: absolute;
  top: 3px;
  left: 0px;
  height: 30px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.dropdown-menu::before {
  content: "";
  position: fixed;
  top: 0px;
  right: 20px;
  height: 0px;
  width: 20px;
  background: var(--secondary-bg);
  transform: rotate(45deg);
}

.userImage {
  height: 60px;
  width: 60px;
  border-radius: 10px;
  margin-top: -5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(32, 149, 153);
}
.dropdown-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(45px);
  border-radius: 10px;
  transition: var(--speed) ease;

  border: solid rgb(32, 149, 153) 2px;
  width: 200px;
  /* margin-left: 100%; */

  background-color: black;
  color: cyan;

  position: fixed;
}
.menuHeader {
  font-size: 20px;
  font-weight: 100;
  text-decoration-line: underline;
}
.dropdown-menu.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(0px);
  transition: var(--speed) ease;
  position: fixed;
}

h3 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: -20px;

  font-weight: 500;
  color: var(--primary-text-color);
}
h3 span {
  font-size: 14px;

  color: white;
  font-weight: 400;
}

.dropdown-menu ul {
  padding: 10px 0px 0px;
}

.dropdown-menu ul li {
  padding: 5px;
  font-size: 15px;
  text-align: right;
  color: white;
}

.dropdown-menu ul li:hover a {
  color: black;
  cursor: pointer;
}
.dropdown-menu ul li:hover img {
  opacity: 1;
  cursor: pointer;
}

.dropdownItem {
  display: flex;
  margin-top: 0px;
  margin-bottom: 10px;
}

.dropdownItem img {
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;

  transition: var(--speed);
}
.dropdownItem a {
  max-width: 100px;

  margin-left: 35px;

  transition: var(--speed);
}

.dropdownItem:hover {
  background-color: rgb(0, 198, 198);
}
.accountQuestion {
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0);
  color: cyan;
  font-size: smaller;
  font-family: "Courier New", Courier, monospace;
}
.accountQuestion:hover {
  color: rgb(1, 213, 213);
  cursor: pointer;
}
.createAccount {
  visibility: visible;
}
.createAccountInvisible {
  visibility: hidden;
}
