.createAccountBar {
  color: cyan;
  background-color: black;
  height: 150px;
  width: 200px;
  margin: auto;
  margin-top: 50px;
  font-family: "Courier New", Courier, monospace;
  border-style: outset;
  border-color: rgb(0, 179, 179);
  border-width: 10px;
  border-radius: 10px;
}
.createAccountContent {
  text-align: left;
  margin: auto;
  padding-top: 5%;
  padding: auto;
  text-align: center;
  border-style: solid;
  border-color: cyan;
  border-radius: 10px;
  height: 55%;
}
.createAccountInputs {
  margin: auto;
  border-radius: 10px;
  margin-bottom: 5px;
}
.createAccountButton {
  margin-top: 10px;
  border-radius: 10px;
  width: 100%;
}
.createAccountButton:hover {
  cursor: pointer;
}
